@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$font-body: "Roboto" , sans-serif;


$color-logo: #394166;
$color-bright-blue: #1cb8f1;
$color-background: #fcf9ed;
$color-footer: #fffcdd;
$color-button-text: #fafafa;




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    background-color: $color-background;  
    font-family: $font-body;
}

em {
  font-weight: bold;
  font-style: normal;
}

i {
  font-style: italic;
}

#nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 30px 7%;      
}

#logo {    
  font-size: 40px; 
  color: $color-logo;   
}

#login {  
  border: 2px solid black;
  padding: 15px 25px;
  border-radius: 7px;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  color: $color-logo;  
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 10px;  
  p {
    color: $color-bright-blue;    
    align-items: center;
    font-size: 30px;
    font-weight: bold;
    
  }
}

#device-mockup {
  display: flex;
  justify-content: center;

  img {
    width: 60%;
    padding: 40px 0;
  }
}

main {
  flex-wrap: wrap;

  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
  }

 h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: $color-bright-blue;
    padding: 40px 0;


  }

  h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    padding: 0 20px;
    color: $color-logo;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 200px;
    margin: 40px;
    margin-left: 28%;
    background-color: $color-logo;
    color: $color-button-text;
    border: 1px;
    border-radius: 7px;
    text-decoration: none;
    font-size: 1.15em;
    font-weight: bold;
  }

} 


.penguin-section{
    
  div {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 15px 15px;
       
    p {
    flex-wrap: wrap;
    font-size: 1.25em;
    }
    img {
    padding: 0 10px;

    }
  }
}


footer {


  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-footer;
    padding: 20px 0;
    margin-top: 70px;


    a {
      text-decoration: none;
      color: $color-logo;
      background-color: $color-footer;
      padding: 10px 0;
      font-size: 1.10em;
      font-weight: bold;


    }
  }
}




@media screen and (min-width: 480px) {
  body {
    width: 420px;
  }
}
 

