* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fcf9ed;
}

#nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 10%;
}

#logo {
  font-size: 75px;
  color: #394166;
}

#login {
  border: 2px solid black;
  padding: 20px 40px;
  border-radius: 7px;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  color: #394166;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 0;
}
header h1 {
  color: #1cb8f1;
  align-items: center;
  font-size: 50px;
}

#device-mockup {
  display: flex;
  justify-content: center;
}
#device-mockup img {
  width: 60%;
  padding: 50px 0;
}

main h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
main h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  color: #1cb8f1;
  padding: 40px;
}
main h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: #394166;
}
main a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  margin: 50px 35%;
  background-color: #394166;
  color: #fafafa;
  border: 1px;
  border-radius: 7px;
  text-decoration: none;
  font-size: 1.25em;
}

.penguin-section {
  border: 1px solid red;
}
.penguin-section div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}