

$color-logo: #394166;
$color-bright-blue: #1cb8f1;
$color-background: #fcf9ed;
$color-footer: #fffcdd;
$color-button-text: #fafafa;


html{
  height: 100%;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    background-color: $color-background;  
}


#nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 30px 10%;
    
      
}

#logo {    
  font-size: 40px; 
  color: $color-logo;   
}

#login {  
  border: 2px solid black;
  padding: 15px 25px;
  border-radius: 7px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: $color-logo;

}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 10px;  
  h1 {
    color: $color-bright-blue;    
    align-items: center;
    font-size: 35px;
    
  }
}

#device-mockup {
  display: flex;
  justify-content: center;

  img {
    width: 60%;
    padding: 50px 0;
  }
}

main {
  flex-wrap: wrap;

  h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
  }

 h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: $color-bright-blue;
    padding: 40px;

  }

  h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    padding: 0 20px;
    color: $color-logo;
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 200px;
    margin: 20px;
    margin-left: 28%;
    background-color: $color-logo;
    color: $color-button-text;
    border: 1px;
    border-radius: 7px;
    text-decoration: none;
    font-size: 1.25em;
  }

} 


.penguin-section{
    
  div {
    display: flex;
       align-items: center;
       justify-content: space-evenly;
       padding: 15px 15px;
       
    p {
      flex-wrap: wrap;
      font-size: 1.25em;
    }
    img {
      padding: 0 10px;
    }


  }

  


}


#footer-nav {
  display: flex;
  flex-direction: column;
  padding: 1.25em;
  height: 50px;
  width: 100%;
  align-content: center;
  justify-content: center;
  
  
  h2 {
    padding: 20px;
    
    
  }
}



@media screen and (min-width: 480px) {
  main {
    width: 300px;
  }
}
  

