html {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fcf9ed;
}

#nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

#logo {
  font-size: 40px;
  color: #394166;
}

#login {
  border: 2px solid black;
  padding: 15px 25px;
  border-radius: 7px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #394166;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 10px;
}
header h1 {
  color: #1cb8f1;
  align-items: center;
  font-size: 35px;
}

#device-mockup {
  display: flex;
  justify-content: center;
}
#device-mockup img {
  width: 60%;
  padding: 50px 0;
}

main {
  flex-wrap: wrap;
}
main h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}
main h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: #1cb8f1;
  padding: 40px;
}
main h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  padding: 0 20px;
  color: #394166;
}
main a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 200px;
  margin: 20px;
  margin-left: 28%;
  background-color: #394166;
  color: #fafafa;
  border: 1px;
  border-radius: 7px;
  text-decoration: none;
  font-size: 1.25em;
}

.penguin-section div {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px 15px;
}
.penguin-section div p {
  flex-wrap: wrap;
  font-size: 1.25em;
}
.penguin-section div img {
  padding: 0 10px;
}

#footer-nav {
  display: flex;
  flex-direction: column;
  padding: 1.25em;
  height: 50px;
  width: 100%;
  align-content: center;
  justify-content: center;
}
#footer-nav h2 {
  padding: 20px;
}

@media screen and (min-width: 480px) {
  main {
    width: 300px;
  }
}