

$color-logo: #394166;
$color-bright-blue: #1cb8f1;
$color-background: #fefdf8;
$color-footer: #fffcdd;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    background-color: $color-background;  
}




#nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0 10%;
    padding-top: 20px;
      
}

#logo {    
  font-size: 75px; 
  color: $color-logo;   
}

#login {  
  border: 1px solid black;
  padding: 25px 40px;
  border-radius: 7px;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
  color: $color-logo;

}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 10px;
  h1 {
    color: $color-bright-blue;    
    align-items: center;
    
  }
}

